/vendor/
/node_modules/
/.phpunit.cache
/storage/*.key
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.phpunit.result.cache
/.idea/
*.swp
*.swo
*~
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
/public/hot
/public/storage
/storage/*.key
composer.lock
package-lock.json
